aiohttp==3.7.4.post0
gunicorn==20.1.0
altgraph==0.17.4
ansicon==1.89.0
async-timeout==3.0.1
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.7.4
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.7
Flask-Migrate==3.1.0
uuid==1.30
colorama==0.3.9
console==0.9907
DateTime==5.5
discord.py==1.7.2
dnspython==2.6.1
ezenv==0.92
Flask==3.0.3
idna==2.8
itsdangerous==2.2.0
Jinja2==3.1.4
jinxed==1.3.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
multidict==6.0.5
packaging==24.1
pefile==2023.2.7
progress==1.6
psutil==2.1.1
pyarmor==8.5.11
pyarmor.cli.core==6.5.3
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pymongo==4.8.0
pytils==0.4.1
pytz==2024.2
pywin32-ctypes==0.2.3
requests==2.26.0
rich==13.7.1
setuptools==73.0.1
six==1.16.0
soupsieve==2.6
termcolor==2.4.0
tools==0.1.9
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==1.25.11
Werkzeug==3.0.4
yarl==1.10.0
zope.interface==7.0.3
Flask-SQLAlchemy==3.0.5
psycopg2-binary==2.9.6
