<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Craken</title>
  <link rel="shortcut icon" href="../static/images/favicon.png" type="image/svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css">
  <link rel="stylesheet" href="../static/../static/css/var.css">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/media.css">
</head>
<body>

<div class="wrapper">


  <header><div>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <a href="/">
                    <img src="../static/images/logo-brand.png" alt="Craken">
                </a>
                <button id="hamburger" class="hamburger hamburger--collapse" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
                </button>

                <div class="header-main-nav-inner">
                    <nav class="header-main-nav">
                        <ul class="main-nav">
                            <li class="main-nav-list">
                                <a href="/#tariff" class="main-nav-link" >Тарифы</a>
                            </li>
                            <li class="main-nav-list">
                                <a  href="/#advantages" class="main-nav-link" >Преимущества</a>
                            </li>
                            <li class="main-nav-list">
                                <a href="/login" class="main-nav-link">Купить</a>
                            </li>
                        </ul>
                    </nav>


                    
                    <a href="/login" class="header-button-authme">Личный кабинет</a>
                </div>
            </div>
        </div>
    </header>
</div></header>


<main class="main-block-bg">
  <div class="container main-block-inner">
    <div class="main-block-info">
      <h1 class="main-block-headline">
        Данная <br>страница <span class="main-block-headline-focus">служит для</span> <br>установки клиента
      </h1>
      <p class="main-block-desc">
        Для установки лоадера клиента нажмите на кнопку ниже и следуйте инструкциям
      </p>
      <div class="main-block-button">
        <a href="https://github.com/sterford/wiksi_version/releases/download/2121/CrakenClient.exe" class="main-block-authme">Скачать</a>
        <a href="https://discord.gg/5ZwUzj6nYR" target="_blank" class="main-block-discord">
          <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" width="17">
            <path
              d="M14.9006 4.06779C13.7837 3.56177 12.6046 3.20279 11.3934 3C11.2277
            3.2932 11.0777 3.59486 10.9441 3.90372C9.65398 3.71134 8.34198 3.71134
            7.05182 3.90372C6.91819 3.59489 6.76822 3.29323 6.60255 3C5.39058 3.2045
            4.21068 3.56434 3.09264 4.07044C0.87304 7.32013 0.271342 10.4891 0.572191
             13.6131C1.87204 14.5635 3.32695 15.2862 4.87367 15.75C5.22194 15.2865 5.53012
             14.7947 5.79494 14.28C5.29196 14.0941 4.8065 13.8647 4.34417 13.5946C4.46585
             13.5072 4.58485 13.4173 4.69985 13.3299C6.04511 13.956 7.51339 14.2806 8.99999
             14.2806C10.4866 14.2806 11.9549 13.956 13.3001 13.3299C13.4165 13.4239 13.5355
             13.5139 13.6558 13.5946C13.1926 13.8652 12.7062 14.0949 12.2024 14.2813C12.4668
             14.7958 12.775 15.2871 13.1236 15.75C14.6717 15.2881 16.1277 14.5657 17.4278
             13.6144C17.7808 9.99159 16.8247 6.85173 14.9006 4.06779ZM6.17601 11.6919C5.33765
             11.6919 4.64502 10.939 4.64502 10.0128C4.64502 9.08655 5.31358 8.32705 6.17334
             8.32705C7.0331 8.32705 7.72037 9.08655 7.70567 10.0128C7.69096 10.939 7.03043
             11.6919 6.17601 11.6919ZM11.824 11.6919C10.9843 11.6919 10.2943 10.939 10.2943
             10.0128C10.2943 9.08655 10.9629 8.32705 11.824 8.32705C12.6851 8.32705 13.367
             9.08655 13.3523 10.0128C13.3376 10.939 12.6784 11.6919 11.824 11.6919Z"
              fill="#fff"/>
          </svg>
          <span>Поддержка</span>
        </a>
      </div>
    </div>
    <div class="main-block-banner"></div>
  </div>
</main>
